<!-- app/views/projects/show.html.erb -->


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>project id</th>
      <th>Time elapsed</th>
      <th>Time Spent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.project_id %></td>
        <td><span id="elapsed-time-<%= task.id %>"><%= task.time_elapsed %></span> seconds</td>

        <td><button class="start-timer" data-task-id="<%= task.id %>" data-initial-time="<%= task.time_elapsed %>">Start Timer</button></td>

        <td><%= link_to 'Edit', edit_task_path(task) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p><%= link_to 'New Task', new_task_path(@task) %></p>

<script>
  var timers = {};

  document.querySelectorAll(".start-timer").forEach(function(button) {
    button.addEventListener("click", function() {
      var taskId = button.dataset.taskId;
      var initialTime = button.dataset.initialTime;
      var elapsedTime = initialTime;

      timers[taskId] = setInterval(function() {
        elapsedTime++;
        document.getElementById("elapsed-time-" + taskId).textContent = elapsedTime;
      }, 1000);

      button.disabled = true;
    });
  });
</script>