<h1>New Project</h1>

<%= form_with(model: @project, url: projects_path(@category)) do |form| %>

<%
=begin%>
 <%= form.hidden_field :category_id, value: @category.id %> 
<%
=end%>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.collect {|c| [c.name, c.id]} %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<p><%= link_to "Back to Projects", projects_path %></p>